// FONTS NAMES gotham-x-narrow
$gotham-x-narrow: 'GothamXnarrow';
$ft-f: 'Open Sans';

// FONT FAMILY NAMES
$font-family-gotham-x-narrow: $gotham-x-narrow, Arial, serif;
$font-family-open-sans: $ft-f, sans-serif;

